.about-mvv__wrapper {
  /* box */
  background: var(--c1);
  position: relative;
  overflow: hidden;
  width: 100%;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about__card {
  /* box */
  background: var(--c2);
  height: auto;
  min-height: 50rem;
  padding: 4rem 4rem;
  border-radius: var(--default-radius);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position */
  position: absolute;
  z-index: 1;
  left: 10%;
}

.about__text {
  color: var(--c11);
}

.about__title {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
  word-wrap: none;
}

.about__description {
  text-indent: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  width: 32rem;
  word-wrap: none;
}

.about__button {
  text-decoration: none;
  color: var(--c1);
  line-height: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 1rem;
  margin-top: 3rem;
  border-radius: var(--default-radius);
  background: var(--grad-bt);
  max-width: fit-content;
}

.mvv__card {
  /* box */
  background: var(--w);
  padding: 9rem 4rem;
  margin: 5rem 0rem;
  border-radius: var(--default-radius);
  width: 100%;
  min-width: 330px;
  /* flex */
  display: flex;
  justify-content: right;
  gap: 3rem;
  /* position */
  z-index: 0;
}

.mvv__gear {
  position: absolute;
  z-index: 1;
  bottom: 0rem;
  right: 1%;
}

@media only screen and (max-width: 1460px) {
  .about__card {
    position: relative;
    left: 0;
    padding: 3rem 1rem;
    min-height: auto;
  }

  .mvv__card {
    margin: 0;
    width: auto;
    padding: 3rem 1rem;
  }

  .mvv__gear {
    right: -10rem;
    bottom: -10rem;
    transform: rotateZ(300deg);
  }
}

@media only screen and (max-width: 920px) {
  .mvv__card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .mvv__gear {
    display: none;
  }
}
