#clients__container {
  background: var(--w);
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.clients__title {
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 600;
  color: var(--c11);
}

.clients__mural {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

@media only screen and (max-width: 600px) {
  #clients__container {
    padding: 3rem;
    gap: 3rem;
  }

  .clients__mural {
    overflow: auto;
    max-height: 60vh;
  }
}
