#segments__container {
  display: flex;
  flex-direction: column;
  gap: 11rem;
  justify-content: center;
  background: no-repeat top/100vw 100vh
    url(https://res.cloudinary.com/mvacoimbra/image/upload/v1688430213/emcos_website/fundo_lpdyfg.png);
  /* background-position: center; */
  padding-bottom: 24rem;
}

.segments__header {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--c1);
}

.segments__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  flex-wrap: wrap;
  gap: 4rem;
  /* min-height: 35rem; */
}

@media only screen and (max-width: 600px) {
  #segments__container {
    padding: 3rem;
    gap: 3rem;
    background-size: auto 200vh;
    background-position: top center;
  }
}
