.workflow__container {
  background: var(--b);
  color: var(--w);
  position: relative;
}

.workflow__steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.workflow__gear {
  position: absolute;
  z-index: 1;
  bottom: 100px;
  left: -110px;
  transform: rotate(90deg);
}
