.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  margin-bottom: 5rem;
}

.contact__info {
  /* box */
  background-color: var(--c11);
  padding: 5rem;
  border-radius: var(--default-radius);
  /* width: clamp(450px, 500px, 600px); */
  height: fit-content;
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* text */
  color: var(--c5);
  font-size: 1.6rem;
}

.contact__info a {
  text-decoration: none;
  color: var(--c5);
}

.contact__info a:hover {
  text-shadow: var(--w) 0rem 0rem 0.2rem;
}

.contact__info i {
  margin-right: 1rem;
}

.contact__info-title {
  color: var(--c2);
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.contact__phones {
  display: flex;
  gap: 1em;
  white-space: nowrap;
  flex-wrap: wrap;
}

.contact__socials {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  font-size: 4rem;
}

.contact__form {
  grid-area: 1 / 2 / 1 / 4;
}

@media only screen and (max-width: 980px) {
  .contact__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .contact__container {
    padding: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .contact__container {
    grid-template-columns: 1fr 1fr;
  }
}
