/* i {
  background: linear-gradient(180deg, #3B5B33 27.60%, #293A25 80.73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.greenUnderline {
  border-bottom: 0.4rem solid var(--green-emcos);
}

.greenColor{
  color: var(--green-emcos);
  font-weight: 600;
}
