.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(500px, 1fr)); */
  grid-auto-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 6rem;
}

.gallery__item {
  overflow: hidden;
  border-radius: var(--default-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: grayscale(1);
  transition: all 500ms ease-in-out;
  background-color: var(--c2);
}

.gallery__item:hover {
  filter: grayscale(0);
  scale: 1.01;
  cursor: pointer;
}

.item__image {
  width: 100%;
  z-index: -1;
}

.item__title {
  line-height: 4rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--c2);
  background-color: var(--c11);
  text-align: center;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .portfolio__gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
