.clients__box {
  background: var(--c1);
  width: 260px;
  height: 127px;
  border-radius: var(--default-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
