.gallery-window__container {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box */
  height: 100vh;
  width: 100vw;
  /* position */
  position: fixed;
  z-index: 99;
}

.shadow {
  /* box */
  width: 100%;
  height: 100%;
  background-color: var(--c9);
  /* position */
  position: absolute;
  z-index: 0;
  /* misc */
  filter: opacity(0.8);
}

.gallery-window__wrapper {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box */
  width: clamp(200px, 100%, 1000px);
  height: clamp(600px, 50%, 600px);
  /* position */
  z-index: 1;
  /* misc */
  filter: opacity(1);
}

.gallery-window__box {
  position: relative;
  border: solid 2rem var(--c7);
  border-radius: var(--default-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.gallery-window__image {
  width: 100%;
}

.window-btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
}

.window-btn__wrapper.left {
  justify-content: left;
}

.window-btn__wrapper.close button {
  font-size: 2rem;
  filter: opacity(1);
}

.window-btn__btn {
  background: none;
  color: var(--w);
  margin: 0rem 2rem;
  cursor: pointer;
  font-size: 6rem;
  filter: opacity(0.5);
}

@media only screen and (max-width: 850px) {
  .gallery-window__box {
    border-width: 0.5rem;
    max-height: 350px;
  }

  .window-btn__btn {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .window-btn__btn {
    font-size: 3rem;
  }
}
