/* background: var(--grad-bt);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

.gearTitle__container {
  /* flex */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  /* box */
  border-bottom: 0.4rem solid var(--green-emcos);
  border-bottom-left-radius: var(--default-radius);
  max-width: fit-content;
}

.gearTitle__gear {
  transform: translate(-5%, 5%);
  height: 60px;
}

.gearTitle__title {
  font-size: 3.6rem;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .gearTitle__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .gearTitle__title {
    font-size: 2.1rem;
  }

  .gearTitle__gear {
    height: 45px;
  }
}
