.form__input-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(5rem, 100%);
  gap: 1rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input label {
  color: var(--c11);
  font-size: 1.6rem;
  font-weight: 600;
}

.form__input input,
textarea,
select {
  border-radius: var(--default-radius);
  background: var(--c1);
  border: 0.1rem solid var(--c2);
  height: 4rem;
  /* width: 30rem; */
  padding: 1rem;
  font-family: Montserrat, sans-serif;
}

.form__input input::placeholder {
  color: var(--c6);
  font-size: 1.2rem;
  line-height: 4rem;
  font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 600px) {
  .form__input-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
