.navbar__logo {
  margin-right: 6rem;
  height: 5rem;
}

#navbar__container {
  padding: 2.5rem 14rem;
}

.navbar__container {
  /* box */
  width: 100vw;
  height: 10rem;
  /* style */
  background: var(--w);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  /* grid */
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 1fr 2fr;
  /* position */
  position: fixed;
  z-index: 10;
}

.placeholder {
  /* width: 100vw; */
  height: 10rem;
  /* background-color: aqua; */
}

@media only screen and (max-width: 1200px) {
  #navbar__container {
    padding: 2.5rem 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar__logo {
    height: 4rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 750px) {
  .placeholder {
    height: 8rem;
  }

  #navbar__container {
    padding: 2rem;
  }

  .navbar__container {
    height: 8rem;
  }
}
