@import '../variables.css';

.nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navlist {
  display: flex;
  justify-content: right;
  gap: 6rem;
}

.navlist__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1rem;
  text-decoration: none;
  text-align: center;
  color: var(--gray-logo-2);
  white-space: nowrap;
  transition: border 0.1s;
}

.navlist__link--active {
  border-bottom: 0.3rem solid var(--green-emcos);
}

.navlist__link:hover {
  /* border-bottom: [border-width] [border-style] [border-color]; */
  border-bottom: 0.3rem solid var(--green-emcos);
}

.navlist__btn {
  background: var(--grad-bt);
  color: var(--c1);
  padding: 1.5rem 1rem;
  border-radius: 0.6rem;
}

.navlist__btn.navlist__link--active {
  border-bottom: none;
}

.navlist__btn:hover {
  border-bottom: none;
  /* text-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [color]; */
  text-shadow: 0rem 0rem 0.25rem var(--w);
}

