@import '../variables.css';

.nav {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.navlist {
  display: flex;
  justify-content: right;
  flex-shrink: 2;
  gap: 6rem;
}

.navlist__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1rem;
  text-decoration: none;
  text-align: center;
  color: var(--gray-logo-2);
  white-space: nowrap;
  transition: border 0.1s;
}

.navlist__link--active {
  border-bottom: 0.3rem solid var(--green-emcos);
}

.navlist__link:hover {
  /* syntax of border-bottom: [border-width] [border-style] [border-color]; */
  border-bottom: 0.3rem solid var(--green-emcos);
}

.navlist__btn {
  background: var(--grad-bt);
  color: var(--c1);
  padding: 1.5rem 1rem;
  border-radius: var(--default-radius);
}

.navlist__btn.navlist__link--active {
  border-bottom: none;
}

.navlist__btn:hover {
  border-bottom: none;
  /* syntax of text-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [color]; */
  text-shadow: 0rem 0rem 0.25rem var(--w);
}

@media only screen and (max-width: 1000px) {
  .navlist {
    gap: 3rem;
  }

  .navlist__link {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .navlist {
    display: none;
  }

  .navlist__btn {
    padding: 0.5rem;
  }
}
